extends layouts/main

block content
    .form-containner
        form(action=routes.editProfile, mathod="post")
            label(for="avatar") Avator
            input(type="file", id="avatar" name="avatar")
            input(type="text", placeholder="Name" name="name")
            input(type="email", placeholder="Email" name="email") 
            input(type="submit", value="Update Profile")
        a.form-container__link(href=routes.change-password) Change Password